<div class="container animated fadeIn fast">
    <!-- <div class="row text-center">
        <div class="col-sm-12">
            <h2 class="brand">Dashboard</h2>
        </div>
    </div> -->
    <div class="row pl-5 justify-content-center">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title typeheadbox">Gráfica</h5>
                    <div class="flex">
                        <div class="flex-item">
                            <div style="display: block;">
                                <canvas baseChart width="auto" height="220" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                            </div>
                        </div>
                        <div class="flex-item">
                            <!-- <table class="table table-responsive table-condensed">
                                <tr>
                                    <th *ngFor="let label of lineChartLabels">{{label}}</th>
                                </tr>
                                <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
                                    <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                                </tr>
                            </table> -->
                            <button mat-button mat-raised-button color="primary" class="btn btn-primary" (click)="randomize()">Randomize</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title typeheadbox">Noticias</h5>
                    <div class="scroll">
                        <div class="w3-container w3-pale-blue w3-leftbar w3-border-blue mb-1">
                            <!-- <h6 class="pf"><span style="font-size: 1.5em;"><i class="fas fa-newspaper" aria-hidden="true"></i></span>lorem</h6> -->
                            <p class="pf">I have a blue left border.</p>
                        </div>
                        <div class="w3-container w3-pale-blue w3-leftbar w3-border-blue mb-1">
                            <p class="pf">I have a blue left border.</p>
                        </div>
                        <div class="w3-container w3-pale-blue w3-leftbar w3-border-blue mb-1">
                            <p class="pf">I have a blue left border.</p>
                        </div>
                        <div class="w3-container w3-pale-blue w3-leftbar w3-border-blue mb-1">
                            <p class="pf">I have a blue left border.</p>
                        </div>
                        <div class="w3-container w3-pale-blue w3-leftbar w3-border-blue mb-1">
                            <p class="pf">I have a blue left border.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title typeheadbox">Promociones</h5>
                    <div class="scroll">
                        <div class="w3-container w3-pale-blue w3-leftbarp w3-border-blue mb-1">
                            <p class="pf">I have a blue left border.</p>
                        </div>
                        <div class="w3-container w3-pale-blue w3-leftbarp w3-border-blue mb-1">
                            <p class="pf">I have a blue left border.</p>
                        </div>
                        <div class="w3-container w3-pale-blue w3-leftbarp w3-border-blue mb-1">
                            <p class="pf">I have a blue left border.</p>
                        </div>
                        <div class="w3-container w3-pale-blue w3-leftbarp w3-border-blue mb-1">
                            <p class="pf">I have a blue left border.</p>
                        </div>
                        <div class="w3-container w3-pale-blue w3-leftbarp w3-border-blue mb-1">
                            <p class="pf">I have a blue left border.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>