<div class="container animated fadeIn fast">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-light btnLimon btnfont" routerLinkActive="active" [routerLink]="['crm-oportunidad']">Oportunidades</button>
                <button type="button" class="btn btn-light btnLimon btnfont" routerLinkActive="active" [routerLink]="['crm-actividad']">Actividades</button>
            </div>
        </div>
    </div>
</div>
<div class="container pt-3">
    <router-outlet></router-outlet>
</div>