/* -- main content -- */

.content-container {
    position: relative;
    z-index: 0;
    padding: 20px;
    /* max-width: 728px; */
    margin: 0 auto;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.site-title {
    text-align: center;
    border-bottom: 1px solid #111111;
    margin-bottom: 24px;
}

.site-title h1 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 10px;
}

img {
    width: 100%;
}

.content p {
    line-height: 1.6em;
    margin-bottom: 24px;
}


/* -- Slideout Sidebar -- */

.slideout-sidebar {
    position: fixed;
    top: 0;
    left: -228px;
    z-index: 0;
    width: 250px;
    height: 100%;
    padding: 20px;
    background-color: #0067A8;
    transition: all 300ms ease-in-out;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 1), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.slideout-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideout-sidebar ul li {
    cursor: pointer;
    padding: 14px 0;
    border-bottom: 1px solid rgba(244, 244, 244, 0.4);
    color: rgba(244, 244, 244, 0.7);
}

.slideout-sidebar ul li:last-child {
    border-bottom: 0;
}

.slideout-sidebar ul li:hover {
    color: rgba(244, 244, 244, 1);
}

a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    font-size: 17px;
    display: inline-block;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

a:hover {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}


/* -- Menu Icon -- */

#menu-toggle {
    display: none;
}

.menu-icon {
    position: fixed;
    /* top: 18px; */
    left: 30px;
    font-size: 34px;
    z-index: 1;
    transition: all 300ms ease-in-out;
}

.iconspan {
    font-size: 1.3em;
    padding: 0em 0.3em 0em 0em;
}


/*Image logo*/

.sizelogo {
    max-width: 70%;
}


/*-- The Magic --*/

#menu-toggle:checked~.slideout-sidebar {
    left: 0px;
}

#menu-toggle:checked+.menu-icon {
    left: 215px;
}

#menu-toggle:checked~.content-container {
    padding-left: 190px;
}


/* -- Media Queries -- */

@media (max-width: 991px) {
    .content-container {
        max-width: 480px;
    }
}

@media (max-width: 767px) {
    .content-container {
        max-width: 100%;
        margin: 30px auto 0;
    }
    #menu-toggle:checked~.content-container {
        padding-left: 0;
    }
    .slideout-sidebar ul {
        text-align: center;
        max-width: 200px;
        margin: 30px auto 0;
    }
    .menu-icon {
        left: 20px
    }
    #menu-toggle:checked~.slideout-sidebar {
        width: 100%;
    }
    #menu-toggle:checked+.menu-icon {
        left: 87%;
        color: #fafafa;
    }
    @media screen and (max-width: 736px) and (orientation: landscape) {
        .slideout-sidebar {
            padding: 0;
        }
        .slideout-sidebar ul {
            max-width: 100%;
            margin: 60px auto 0;
        }
        .slideout-sidebar ul li {
            display: inline-block;
            border-bottom: 0;
            width: 72px;
            padding: 18px 24px;
            margin: 0 6px 12px;
            color: #ffffff;
            background-color: #777;
        }
    }
}