<input type="checkbox" id="check">
<label for="check" style="display: block;">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>Menu</header>
    <ul>
        <li><a href="#" [routerLink]="['dashboard']"><i class="fas fa-newspaper"></i> Dashboard</a></li>
        <li><a href="#" [routerLink]="['sn']"><i class="fas fa-users"></i> Socio de Negocios</a></li>
        <li><a href="#" [routerLink]="['articulos']"><i class="fas fa-newspaper"></i> Artículos</a></li>
        <li><a href="#" [routerLink]="['cotizacion']"><i class="fas fa-id-card"></i> Cotización</a></li>
        <li><a href="#" [routerLink]="['pedido']"><i class="fas fa-shopping-cart"></i> Pedido</a></li>
        <li><a href="#" [routerLink]="['crm']"><i class="fas fa-sitemap"></i> CRM</a></li>
        <li><a href="#"><i class="fas fa-file-contract"></i> Reportes</a></li>
        <li><a href="#"><i class="fas fa-sign-out-alt" (click)="logout()"></i> Salir</a></li>
    </ul>
    <div class="text-center pt-4">
        <img src="../assets/images/logo2.png" style="max-width: 50%;" alt="">
    </div>
</div>
<router-outlet class="m-5"></router-outlet>