<div class="ml-5 animated fadeIn fast">
    <div class="row">
        <!-- Sección de formulario -->
        <div class="col-md-8 pt-4">
            <div class="card bxcard">
                <div class="card-body">
                    <div class="progress">
                        <div class="progress-bar" [ngClass]="{'bg-info': progress <= 6, 'bg-success': progress > 6 && progress <= 20, 'bg-warning': progress > 20 && progress <= 50,'bg-orange': progress > 50 && progress <= 60,'bg-carmin': progress > 60 && progress <= 80,'bg-danger': progress > 80 && progress <= 100}"
                            role="progressbar" [ngStyle]="{'width': progress + '%'}" aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
                    </div>
                    <div class="container pt-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <form [formGroup]="formOpp">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="OppName">Nombre Oportunidad</label>
                                                <input id="OppName" type="text" class="form-control" placeholder="Nombre de Oportunidad" formControlName="name" [ngClass]="{ 'is-invalid': (submitted || f.name.errors) && f.name.touched}">
                                                <div *ngIf="(submitted || f.name.errors) && f.name.touched" class="invalid-feedback">
                                                    <div *ngIf="f.name.errors.required">El nombre es requerido</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="TaxDate">Fecha de Inicio</label>
                                                <div class="input-group mb-3">
                                                    <input class="form-control" placeholder="Fecha" ngbDatepicker #OpenCalendar="ngbDatepicker" readonly formControlName="openDate" [ngClass]="{ 'is-invalid': (submitted || f.openDate.errors)
                                                    && f.openDate.touched}" (dateSelect)="onChangeDate()">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary calendar" (click)="OpenCalendar.toggle()" type="button"><span><i class="fas fa-calendar"></i></span></button>
                                                    </div>
                                                </div>
                                                <div *ngIf="(submitted || f.openDate.errors) && f.openDate.touched" class="invalid-feedback">
                                                    <div *ngIf="f.openDate.errors.required">La fecha es requerida</div>
                                                </div>
                                                <div *ngIf="durationValid === 1" style="color: red; font-size: 80%;">
                                                    <div>La fecha no puede ser mayor que la de cierre</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="">Fecha cierre</label>
                                                <div class="input-group mb-3">
                                                    <input id="" type="text" class="form-control" placeholder="Fecha Cierre" disabled>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button" id="btnFecha" disabled><span><i class="fas fa-calendar"></i></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="CardCode">Cliente</label>
                                                <input id="CardCode" type="text" class="form-control" placeholder="Cliente" disabled formControlName="cardCode" [ngClass]="{ 'is-invalid': (submitted || f.cardCode.errors) && f.cardCode.touched}">
                                                <div *ngIf="(submitted || f.cardCode.errors) && f.cardCode.touched" class="invalid-feedback">
                                                    <div *ngIf="f.cardCode.errors.required">El campo es requerido</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label for="CardName">Nombre</label>
                                                <input id="CardName" type="text" class="form-control" placeholder="Nombre" formControlName="cardName">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="CprCode">Persona de Contacto</label>
                                                <select class="form-control" id="CprCode" formControlName="cprCode">
                                                   <option *ngFor="let pc of optsOpp.ListPrsContacto" [ngValue]="pc.CntctCode">{{pc.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="Territory">Territorio SN</label>
                                                <select class="form-control" id="Territory" formControlName="territory">
                                                    <option *ngFor="let t of optsOpp.ListTerritorio" [ngValue]="t.territryID">{{t.descript}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="slpCode">Vendedor</label>
                                                <select class="form-control" id="SlpCode" formControlName="slpCode">
                                                    <option *ngFor="let s of optsOpp.ListVendedor" [ngValue]="s.SlpCode">{{s.SlpName}}</option>    
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <!-- Sección de tabs -->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="atabs nav-link" id="potencial-tab" data-toggle="tab" href="#potencial" role="tab" aria-controls="potencial" aria-selected="true">
                                                        <span class="icontabs"><i class="fas fa-hand-holding-usd"></i></span> Potencial
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="atabs nav-link" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="false">
                                                        <span class="icontabs"><i class="fas fa-id-card-alt"></i></span> General
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="atabs nav-link" id="etapas-tab" data-toggle="tab" href="#etapas" role="tab" aria-controls="etapas" aria-selected="false">
                                                        <span class="icontabs"><i class="fas fa-layer-group"></i></span> Etapas
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="atabs nav-link" id="partner-tab" data-toggle="tab" href="#partner" role="tab" aria-controls="partner" aria-selected="false">
                                                        <span class="icontabs"><i class="fas fa-handshake"></i></span>Partner
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="atabs nav-link" id="competidores-tab" data-toggle="tab" href="#competidores" role="tab" aria-controls="competidores" aria-selected="false">
                                                        <span><i class="fas fa-theater-masks"></i></span> Competidores
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="atabs nav-link" id="resumen-tab" data-toggle="tab" href="#resumen" role="tab" aria-controls="resumen" aria-selected="false">
                                                        <span class="icontabs"><i class="fas fa-poll-h"></i></span> Resumen
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="myTabContent">
                                                <div class="tab-pane fade show active" id="potencial" role="tabpanel" aria-labelledby="potencial-tab">
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="PredDate">Fecha prevista cierre</label>
                                                                <div class="input-group mb-3">
                                                                    <input id="PredDate" type="text" class="form-control" placeholder="Fecha cierre" ngbDatepicker #PredDate="ngbDatepicker" readonly formControlName="predDate" (dateSelect)="onChangeDate()">
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-secondary" type="button" id="PredDateBtn" (click)="PredDate.toggle()"><span><i class="fas fa-calendar"></i></span></button>
                                                                    </div>
                                                                    <div *ngIf="durationValid === -1" style="color: red; font-size: 80%;">
                                                                        <div>La fecha no puede ser menor que la de inicio</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group text-center">
                                                                <label for="ClosePrev">Cierre previsto</label>
                                                                <p *ngIf="duration > 0 && durationValid === 0"><span>{{duration}} días</span></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="DMaxSumLoc">Monto Potencial</label>
                                                                <input id="DMaxSumLoc" type="number" class="form-control" placeholder="Monto" formControlName="maxSumLoc" [ngClass]="{ 'is-invalid': (submitted || f.maxSumLoc.errors) && f.maxSumLoc.touched}">
                                                                <p style="margin-left: 0.5em;">{{ f.maxSumLoc.value | currency}}</p>
                                                                <div *ngIf="(submitted || f.maxSumLoc.errors) && f.maxSumLoc.touched" class="invalid-feedback">
                                                                    <div *ngIf="f.maxSumLoc.errors.required">El monto es requerido</div>
                                                                    <div *ngIf="f.maxSumLoc.errors.min">El monto debe ser mayor a 0</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="general" role="tabpanel" aria-labelledby="general-tab">
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="ProySN">Proyecto SN</label>
                                                                <select class="form-control" id="ProySN" formControlName="prjCode">
                                                                    <option *ngFor="let ps of optsTabGral.ListProyectoSN" [ngValue]="ps.PrjCode">{{ps.PrjName}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="Source">Fuente de Información</label>
                                                                <select class="form-control" id="Source" formControlName="source">
                                                                    <option *ngFor="let ps of optsTabGral.ListaInformacion" [ngValue]="ps.Num">{{ps.Descript}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="Industry">Industria</label>
                                                                <select class="form-control" id="Industry" formControlName="industry">
                                                                    <option *ngFor="let ps of optsTabGral.ListIndustria" [ngValue]="ps.IndCode">{{ps.IndName}} - {{ps.IndDesc}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="observaciones">Observaciones</label>
                                                                <textarea class="form-control" id="observaciones" placeholder="observaciones" formControlName="memo"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="etapas" role="tabpanel" aria-labelledby="etapas-tab">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="inicioDateEtp">Inicio</label>
                                                                <div class="input-group mb-3">
                                                                    <input id="inicioDateEtp" type="text" class="form-control" placeholder="Fecha Inicio" ngbDatepicker #TabEtOpenDate="ngbDatepicker" readonly formControlName="tEtOpenDate" (dateSelect)="onChangeDateEtp()">
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-secondary" type="button" id="TabEtOpenDateBtn" (click)="TabEtOpenDate.toggle()"><span><i class="fas fa-calendar"></i></span></button>
                                                                    </div>
                                                                    <!--  <div *ngIf="duratValidEtp === -1" style="color: red; font-size: 80%;">
                                                                        <div>La fecha no puede ser mayor que la de cierre</div>
                                                                    </div> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="cierreDateEtp">Cierre</label>
                                                                <div class="input-group mb-3">
                                                                    <input id="cierreDateEtp" type="text" class="form-control" placeholder="Fecha Inicio" ngbDatepicker #TabEtCloseDate="ngbDatepicker" readonly formControlName="tEtCloseDate" (dateSelect)="onChangeDateEtp()">
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-secondary" type="button" id="TabEtCloseDateBtn" (click)="TabEtCloseDate.toggle()"><span><i class="fas fa-calendar"></i></span></button>
                                                                    </div>
                                                                    <div *ngIf="duratValidEtp === -1" style="color: red; font-size: 80%;">
                                                                        <div>La fecha no puede ser menor que la de inicio</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="Sale">Vendedor</label>
                                                                <select class="form-control" id="Sale" formControlName="tEtSlpCode">
                                                                    <option *ngFor="let e of optsTabGral.ListVendedor" [ngValue]="e.SlpCode">{{e.SlpName}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="StepId">Etapas</label>
                                                                <select class="form-control" id="StepId" formControlName="tEtStepId">
                                                                    <option *ngFor="let e of optsTabGral.ListEtapa" [ngValue]="e.StepId">{{e.Descript}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="WtSumLoc">Monto Especial</label>
                                                                <input id="WtSumLoc" type="number" class="form-control" placeholder="Monto" formControlName="tEtWtSumLoc">
                                                                <p style="margin-left: 0.5em;">{{ f.tEtWtSumLoc.value | currency}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="ResDocType">Tipo Docto</label>
                                                                <select class="form-control" id="ResDocType" placeholder="Tipo Docto" formControlName="tEtTypeDoc">
                                                                    <option *ngFor="let t of ListTypeDoc" [ngValue]="t.Code">{{t.Name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="ResDocNum">No. Docto</label>
                                                                <div class="input-group mb-3">
                                                                    <input id="ResDocNum" type="text" class="form-control" placeholder="No. Docto" formControlName="tEtNoDoc" disabled readonly>
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-secondary" type="button" id="ResDocNumBtn"><span><i class="fas fa-file-alt"></i></span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2 d-flex align-items-center justify-content-center">
                                                            <button class="btn btn-info" *ngIf="!UpdRowEtapa"><span><i class="fas fa-plus"></i></span></button>
                                                            <button class="btn btn-info" *ngIf="UpdRowEtapa"><span><i class="fas fa-refresh"></i></span></button>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-sm-12">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <div class="card-icondetalle">
                                                                        <span style="font-size: 1em; color: white;"><i class="fas fa-layer-group"></i>Lista de Etapas</span>
                                                                    </div>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="megaTras">
                                                                        <table class='headerTras'>
                                                                            <tr>
                                                                                <td class="colTH6 letrasTabla">#</td>
                                                                                <td class="colTH2 letrasTabla">Vendedor</td>
                                                                                <td class="colTH2 letrasTabla">Fecha de Inicio</td>
                                                                                <td class="colTH2 letrasTabla">Fecha de Cierre</td>
                                                                                <td class="colTH3 letrasTabla">Etapa</td>
                                                                                <td class="colTH5 letrasTabla">%</td>
                                                                                <td class="colTH3 letrasTabla">Monto Especial</td>
                                                                                <td class="colTH5 letrasTabla">Clase de Doc</td>
                                                                                <td class="colTH5 letrasTabla">No Doc</td>
                                                                            </tr>
                                                                        </table>
                                                                        <table style="width:100%; margin-top:45px;">
                                                                            <tbody>
                                                                                <tr (click)="onClicRow(i)" *ngFor="let rowEt of docSap.Detail.TableEtapas; let i = index">
                                                                                    <!-- <tr [ngClass]="{background: (docSap.Detail.TableEtapas.length - 1) === i ? '#fff' : '#b3b3b3'}" *ngFor="let rowEt of docSap.Detail.TableEtapas; let i = index"> -->
                                                                                    <td class="colTT6" [ngClass]="{ background: docSap.Detail.TableEtapas.length === 1 ? '#fff' : (docSap.Detail.TableEtapas.length - 1) === i ? '#fff' : '#b3b3b3'}">{{i + 1}}</td>
                                                                                    <td class="colTT2" [ngClass]="{ background: docSap.Detail.TableEtapas.length === 1 ? '#fff' : (docSap.Detail.TableEtapas.length - 1) === i ? '#fff' : '#b3b3b3'}">{{rowEt.SlpName}}</td>
                                                                                    <td class="colTT2" [ngClass]="{ background: docSap.Detail.TableEtapas.length === 1 ? '#fff' : (docSap.Detail.TableEtapas.length - 1) === i ? '#fff' : '#b3b3b3'}">{{rowEt.OpenDate | date: 'd/M/yyyy'}}</td>
                                                                                    <td class="colTT2" [ngClass]="{ background: docSap.Detail.TableEtapas.length === 1 ? '#fff' : (docSap.Detail.TableEtapas.length - 1) === i ? '#fff' : '#b3b3b3'}">{{rowEt.CloseDate | date: 'd/M/yyyy'}}</td>
                                                                                    <td class="colTT3" [ngClass]="{ background: docSap.Detail.TableEtapas.length === 1 ? '#fff' : (docSap.Detail.TableEtapas.length - 1) === i ? '#fff' : '#b3b3b3'}">{{rowEt.Descript}}</td>
                                                                                    <td class="colTT5" [ngClass]="{ background: docSap.Detail.TableEtapas.length === 1 ? '#fff' : (docSap.Detail.TableEtapas.length - 1) === i ? '#fff' : '#b3b3b3'}">{{rowEt.ClosePrcn}}</td>
                                                                                    <td class="colTT3" [ngClass]="{ background: docSap.Detail.TableEtapas.length === 1 ? '#fff' : (docSap.Detail.TableEtapas.length - 1) === i ? '#fff' : '#b3b3b3'}">{{rowEt.WtSumLoc | currency}}</td>
                                                                                    <td class="colTT5" [ngClass]="{ background: docSap.Detail.TableEtapas.length === 1 ? '#fff' : (docSap.Detail.TableEtapas.length - 1) === i ? '#fff' : '#b3b3b3'}">{{rowEt.ObjType}}</td>
                                                                                    <td class="colTT5" [ngClass]="{ background: docSap.Detail.TableEtapas.length === 1 ? '#fff' : (docSap.Detail.TableEtapas.length - 1) === i ? '#fff' : '#b3b3b3'}">{{rowEt.DocNumber}}</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="partner" role="tabpanel" aria-labelledby="partner-tab">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="tPtSlpCode">Nombre</label>
                                                                <select class="form-control" id="tPtSlpCode" formControlName="tPtParterId">
                                                                    <option *ngFor="let p of optsTabGral.ListPartner" [ngValue]="p.ParterId">{{p.Name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="tPtCardCode">SN Relación</label>
                                                                <input id="tPtCardCode" type="text" class="form-control" placeholder="Socio" formControlName="tPtRelatCard" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="tPOrlCode">Relacion</label>
                                                                <select class="form-control" id="tPOrlCode" formControlName="tPtOrlCode">
                                                                    <option *ngFor="let p of optsTabGral.ListRelacion" [ngValue]="p.OrlCode">{{p.OrlDesc}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="observaciones">Observaciones</label>
                                                                <textarea class="form-control" id="observaciones" placeholder="observaciones" formControlName="tPtMemo"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group text-center">
                                                                <button class="btn btn-info"><span class="btnFomr"><i class="fas fa-plus"></i></span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-sm-12">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <div class="card-icondetalle">
                                                                        <span style="font-size: 1em; color: white;"><i class="fas fa-handshake"></i>Lista de Partner</span>
                                                                    </div>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="megaTras">
                                                                        <table class='headerTras'>
                                                                            <tr>
                                                                                <td class="colTH6 letrasTabla">#</td>
                                                                                <td class="colTH5 letrasTabla">Nombre</td>
                                                                                <td class="colTH5 letrasTabla">Relación</td>
                                                                                <td class="colTH2 letrasTabla">SN Relacionado</td>
                                                                                <td class="colTH5 letrasTabla">Comentarios</td>
                                                                            </tr>
                                                                        </table>
                                                                        <table style="width:100%; margin-top:45px;">
                                                                            <tbody>
                                                                                <tr *ngFor="let rowEPt of docSap.Detail.TablePartner; let i = index">
                                                                                    <td class="colTT5">{{i + 1}}</td>
                                                                                    <td class="colTT5">{{rowEPt.ParterId}}</td>
                                                                                    <td class="colTT2">{{rowEPt.OrlCode}}</td>
                                                                                    <td class="colTT5">{{rowEPt.RelatCard}}</td>
                                                                                    <td class="colTT3">{{rowEPt.Memo}}</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="competidores" role="tabpanel" aria-labelledby="competidores-tab">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="tCoCompetId">Nombre</label>
                                                                <select class="form-control" id="tCoCompetId" formControlName="tCoCompetId">
                                                                    <option *ngFor="let l of optsTabGral.ListCompetidor" [ngValue]="l.CompetId">{{l.NameCompet}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="tCoThreatLevl">Nivel Amenaza</label>
                                                                <select class="form-control" id="tCoThreatLevl" formControlName="tCoThreatLevi">
                                                                    <option [value]="1">Bajo</option>
                                                                    <option [value]="2">Medio</option>
                                                                    <option [value]="3">Alto</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="tCompWon">Ganado</label>
                                                                <input type="checkbox" id="tCompWon" class="form-control" formControlName="tCoWon">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="observaciones">Comentario</label>
                                                                <textarea class="form-control" id="observaciones" placeholder="Observaciones" formControlName="tCoMemo"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group text-center">
                                                                <button class="btn btn-info"><span class="btnFomr"><i class="fas fa-plus"></i></span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-sm-12">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <div class="card-icondetalle">
                                                                        <span style="font-size: 1em; color: white;"><i class="fas fa-theater-masks"></i>Lista de Competidores</span>
                                                                    </div>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="megaTras">
                                                                        <table class='headerTras'>
                                                                            <tr>
                                                                                <td class="colTH6 letrasTabla">#</td>
                                                                                <td class="colTH5 letrasTabla">Nombre</td>
                                                                                <td class="colTH5 letrasTabla">Nivel de Amenaza</td>
                                                                                <td class="colTH5 letrasTabla">Comentarios</td>
                                                                                <td class="colTH6 letrasTabla">Ganado</td>
                                                                            </tr>
                                                                        </table>
                                                                        <table style="width:100%; margin-top:45px;">
                                                                            <tbody>
                                                                                <tr *ngFor="let rowCom of docSap.Detail.TableCompet; let i = index">
                                                                                    <td class="colTT5">{{i + 1}}</td>
                                                                                    <td class="colTT5">{{rowCom.CompetId}}</td>
                                                                                    <td class="colTT2">{{rowCom.ThreatLevi}}</td>
                                                                                    <td class="colTT5">{{rowCom.Memo}}</td>
                                                                                    <td class="colTT3">{{rowCom.Won}}</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="resumen" role="tabpanel" aria-labelledby="resumen-tab">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="ResEstatus">Estatus</label>
                                                                <select class="form-control" id="ResEstatus" formControlName="status">
                                                                    <option value="O">Abierto</option>
                                                                    <option value="W">Ganado</option>
                                                                    <option value="L">Perdido</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="tReRaz">Razones</label>
                                                                <select class="form-control" id="tReRaz" formControlName="tReReasondId">
                                                                    <option *ngFor="let l of optsTabGral.ListRazones" [ngValue]="l.Num">{{l.Descript}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="ResDocType">Tipo Docto</label>
                                                                <select class="form-control" id="ResDocType" placeholder="Tipo Docto" formControlName="docType">
                                                                    <option *ngFor="let t of ListTypeDoc" [ngValue]="t.Code">{{t.Name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="ResDocNum">No. Docto</label>
                                                                <div class="input-group mb-3">
                                                                    <input id="ResDocNum" type="text" class="form-control" placeholder="No. Docto" formControlName="docNum" disabled readonly>
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-secondary" type="button" id="ResDocNumBtn"><span><i class="fas fa-file-alt"></i></span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row pt-4">
                                        <div class="col-sm-6 d-flex justify-content-center">
                                        </div>
                                        <div class="col-sm-6 d-flex justify-content-end">
                                            <button class="btn btn-info" (click)="CreateOpp()" *ngIf="!submitted"><span class="btnFomr"><i class="fas fa-file-signature"></i></span> Crear</button>
                                            <button class="btn btn-info" *ngIf="submitted"><span class="btnFomr"><i class="fas fa-spinner fa-pulse"></i></span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sección de listas -->
        <div class="col-sm-4 pt-4">
            <!--Lista de Oportunidades-->
            <div class="card bxcard">
                <div class="card-header">
                    <div class="card-iconCRM">
                        <span style="font-size: 1.5em; color: white;"><i class="fas fa-money-check-alt"></i> Oportunidades de Vta</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive-xl">
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th scope="col">No Oport.</th>
                                                <th scope="col">Nombre</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Oportunidad 1</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Oportunidad 2</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Lista Socios de Artículos -->
            <div class="card bxcard mt-5">
                <app-lista-crm-socios (socioSel)="listenPartner($event)"></app-lista-crm-socios>
            </div>
        </div>
    </div>
</div>