<div class="limiter">
    <div class="container-login100" style="background-image: url('../assets/images/fondo.jpeg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-0 p-b-54">
            <form (ngSubmit)="login(formLogin)" #formLogin="ngForm" class="login100-form validate-form">
                <span class="login100-form-title p-b-49">
						<img src="../assets/images/logo.png" style="max-width: 100%;" alt="">
					</span>
                <div class="wrap-input100 validate-input m-b-23">
                    <span class="text-danger" *ngIf="(formLogin.submitted  || formLogin.controls['usuario']?.touched ) && formLogin.controls['usuario'].errors"><i class="fas fa-user-lock"></i> El usuario es obligatorio</span>
                    <input required usuario [(ngModel)]="usuario.IdUser" class="input100" type="text" name="usuario" placeholder="Usuario">
                    <span class=" focus-input100 " data-symbol="&#xf15a;"></span>
                </div>
                <div class="wrap-input100 validate-input ">
                    <span class="text-danger" *ngIf="(formLogin.submitted || formLogin.controls['password']?.touched ) && formLogin.controls['password'].errors"><i class="fas fa-key"></i> La contraseña es obligatoria</span>
                    <input required password [(ngModel)]="usuario.Password" class="input100" type="password" name="password" placeholder="Contraseña">
                    <span class="focus-input100 " data-symbol="&#xf190;"></span>
                </div>
                <div class="text-right p-t-8 p-b-31 ">
                    <a href="#">¿olvidaste tu contraseña?</a>
                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn ">
                        <div class="login100-form-bgbtn "></div>
                        <button class="login100-form-btn" *ngIf="!processLogin" [disabled]="formLogin.status == 'INVALID'">Acceder</button>
                        <button class="login100-form-btn" *ngIf="processLogin"><span><i class="fas fa-spinner fa-pulse"></i></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>