<div class="container animated fadeIn fast">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['listArticulo']">Lista de Artículos</button>
                <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['nuevArticulo']">Nuevos Artículo</button>
                <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['editArticulo']">Editar Artículo</button>
            </div>
        </div>
    </div>
</div>