<div class="container animated fadeIn fast">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['listasn']">Lista de SN</button>
                <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['nuevosn']">Nuevo SN</button>
                <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['editarsn']">Editar SN</button>
            </div>
        </div>
    </div>
</div>