<div class="ml-5 animated fadeIn fast">
    <div class="row">
        <!-- Formulario Socios de negocios (editar/nuevo) -->
        <div class="col-sm-8 pt-4">
            <div class="card bxcard">
                <div class="card-body">
                    <div class="card-header">
                        <div class="card-icon">
                            <span style="font-size: 1.5em; color: white;"><i class="fas fa-user"></i> Socio de Negocios</span>
                        </div>
                    </div>
                    <div class="container pt-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="needs-validation" #frmSocio="ngForm" novalidate="">
                                    <div class="row">
                                        <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="">Series</label>
                                                <select class="form-control" id="Serie" [(ngModel)]="Partner.Serie" name="Serie" [disabled]>
                                                    <option *ngFor="let sr of Series" [ngValue]="sr">{{sr}}</option>
                                                </select>
                                            </div>
                                        </div> -->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="CardCode">Código</label>
                                                <input id="CardCode" name="CardCode" #CardCode="ngModel" [(ngModel)]="Partner.CardCode" type="text" class="form-control" placeholder="Código" maxlength="15" [disabled]="EstadoForm === 'E'" required [ngClass]="{ 'is-invalid': (CardCode.errors?.minlength || CardCode.errors?.required) && CardCode.touched }"
                                                    minlength="5">
                                                <div *ngIf="(CardCode.errors?.required) && CardCode.touched" class="invalid-feedback d-block">
                                                    Este campo es requerido
                                                </div>
                                                <div *ngIf="(CardCode.errors?.minlength) && CardCode.touched" class="invalid-feedback d-block">
                                                    Minimo 5 caracteres
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="CardName">Nombre</label>
                                                <input id="CardName" name="CardName" CardName [(ngModel)]="Partner.CardName" type="text" class="form-control" placeholder="Nombre" maxlength="15">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="">Tipo</label>
                                                <select class="form-control" id="CardType" [(ngModel)]="Partner.CardType" name="CardType">
                                                    <option *ngFor="let ty of CardTypes" [ngValue]="ty.Code">{{ty.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="Email">Email</label>
                                                <input id="Email" name="Email" #Email="ngModel" [(ngModel)]="Partner.E_Mail" type="text" class="form-control" placeholder="Email" maxlength="100" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [ngClass]="{ 'is-invalid': Email.invalid }">
                                                <div *ngIf="Email.errors?.pattern" class="invalid-feedback d-block">
                                                    No es un correo valido
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="Currency">Moneda</label>
                                                <select class="form-control" id="Currency" [(ngModel)]="Partner.Currency" name="Currency">
                                                    <option *ngFor="let c of Currencies" [ngValue]="c.CurrCode">{{c.CurrName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="LicTradNum">RFC</label>
                                                <input class="form-control" type="text" placeholder="RFC" name="LicTradNum" [(ngModel)]="Partner.LicTradNum" minlength="12" #LicTradNum="ngModel" [ngClass]="{ 'is-invalid': LicTradNum.invalid }">
                                                <div *ngIf="LicTradNum.errors?.minlength" class="invalid-feedback d-block">
                                                    Minimo {{ LicTradNum.errors.minlength.requiredLength}} caracteres
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row mt-4">
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="card-icondetalle">
                                                        <span style="font-size: 1.2em; color: white;"><i class="fas fa-directions"></i> Dirección</span>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <!-- <div class="text-center" *ngIf="DireccionesFac.length === 0">
                                                        <span style="font-size: 4em; color:#8ec5fb"><i class="fas fa-globe-americas"></i></span>
                                                    </div> -->
                                                    <div>
                                                        <h5 class="card-title typeheadbox"><span><i class="fas fa-file-invoice-dollar"></i></span> Facturación</h5>
                                                        <div class="scroll">
                                                            <div *ngFor="let f of DireccionesFac; let j = index" class="w3-container w3-pale-blue w3-leftbar w3-border-blue mb-1">
                                                                <div class="row">
                                                                    <div class="col-10" (click)="editarDireccion(f)">
                                                                        <p class="pf">{{f.Address}}</p>
                                                                    </div>
                                                                    <div class="col-2 align-self-center" style="border-left: 2px solid rgba(28, 27, 27, 0.42)" (click)="eliminarDireccion('B', j)">
                                                                        <span><i class="fas fa-times"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <h5 class="card-title typeheadbox pt-2"><span><i class="fas fa-truck-loading"></i></span> Entrega</h5>
                                                        <div class="scroll">
                                                            <div *ngFor="let e of DireccionesEnt; let i = index" class="w3-container w3-pale-blue w3-leftbar w3-border-blue mb-1">
                                                                <div class="row">
                                                                    <div class="col-10" (click)="editarDireccion(e)">
                                                                        <p class="pf">{{e.Address}}</p>
                                                                    </div>
                                                                    <div class="col-2 align-self-center" style="border-left: 2px solid rgba(28, 27, 27, 0.42)" (click)="eliminarDireccion('S', i)">
                                                                        <span><i class="fas fa-times"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="text-center" *ngIf="Direcciones.length === 0">
                                                        <span style="font-size: 4em; color:#8ec5fb"><i class="fas fa-globe-americas"></i></span>
                                                    </div>
                                                    <div *ngIf="Direcciones.length > 0">
                                                        <h5 class="card-title typeheadbox"><span><i class="fas fa-file-invoice-dollar"></i></span> Facturación</h5>
                                                        <div class="scroll">
                                                            <div *ngFor="let f of Direcciones | facturacion; let i = index;" (click)="editarDireccion(f)" class="w3-container w3-pale-blue w3-leftbar w3-border-blue mb-1">
                                                                <p class="pf">{{f.Address}}</p>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <h5 class="card-title typeheadbox pt-2"><span><i class="fas fa-truck-loading"></i></span> Entrega</h5>
                                                        <div class="scroll">
                                                            <div *ngFor="let e of Direcciones | entrega; let i = index;" (click)="editarDireccion(e)" class="w3-container w3-pale-blue w3-leftbar w3-border-blue mb-1">
                                                                <p class="pf">{{e.Address}}</p>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="Address">Id de Dirección</label>
                                                        <input id="Address" name="Address" Address [(ngModel)]="Direccion.Address" type="text" class="form-control" placeholder="Direccion">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="Country">País</label>
                                                        <!-- <input id="Country" name="Country" Country [(ngModel)]="Direccion.Country" type="text" class="form-control" placeholder="nombre"> -->
                                                        <select class="form-control" id="Country" [(ngModel)]="Direccion.Country" name="Country">
                                                            <option *ngFor="let c of Countrys" [ngValue]="c.Code">{{c.Name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="State">Estado</label>
                                                        <!-- <input id="State" name="State" State [(ngModel)]="Direccion.State" type="text" class="form-control" placeholder="Estado"> -->
                                                        <select class="form-control" id="State" [(ngModel)]="Direccion.State" name="State">
                                                            <option *ngFor="let s of States | FilterStates: Direccion.Country" [ngValue]="s.Code">{{s.Name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="County">Municipio</label>
                                                        <input id="County" name="County" County [(ngModel)]="Direccion.County" type="text" class="form-control" placeholder="Municipio">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="Street">Calle</label>
                                                        <input id="Street" name="Street" Street [(ngModel)]="Direccion.Street" type="text" class="form-control" placeholder="Calle">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="Block">Colonia</label>
                                                        <input id="Block" name="Block" Block [(ngModel)]="Direccion.Block" type="text" class="form-control" placeholder="Colonia">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="StreetNo">Num Ext</label>
                                                        <input id="StreetNo" name="StreetNo" StreetNo [(ngModel)]="Direccion.StreetNo" type="text" class="form-control" placeholder="número">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="ZipCode">CP</label>
                                                        <input id="ZipCode" name="ZipCode" ZipCode [(ngModel)]="Direccion.ZipCode" type="text" class="form-control" placeholder="Código Postal">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="AdresType">Tipo</label>
                                                        <select class="form-control" id="AdresType" [(ngModel)]="Direccion.AdresType" name="AdresType">
                                                            <option *ngFor="let at of AdresTypes" [ngValue]="at.Code">{{at.Name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-6 text-center p-2">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                </div>
                                                <div class="col-sm-8">
                                                    <div *ngIf="EstadoDir == 'E'">
                                                        <div class="form-group d-flex justify-content-between">
                                                            <button *ngIf="EstadoDir == 'E'" class="btn btn-info" [disabled]="!Direccion.Address" (click)="actualizarDireccion(Direccion, Direccion.AdresType)"><span><i class="fas fa-sync-alt"></i></span> Direccion</button>
                                                            <button *ngIf="EstadoDir == 'E'" class="btn btn-info" [disabled]="!Direccion.Address" (click)="cancelActDireccion()"><span><i class="fas fa-window-close"></i></span> Direccion</button>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="EstadoDir == 'N'">
                                                        <div class="form-group d-flex justify-content-end">
                                                            <button *ngIf="EstadoDir == 'N'" class="btn btn-info" [disabled]="!Direccion.Address || !Partner.CardCode || !Direccion.AdresType" (click)="nuevaDireccion(Direccion, Direccion.AdresType)"><span style="font-size: 1.3em;"><i class="fas fa-plus-circle"></i></span> Dirección</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-4">
                                        <div class="col-sm-6 d-flex justify-content-end">
                                        </div>
                                        <div class="col-sm-6">
                                            <div *ngIf="EstadoForm === 'E'" class=" d-flex justify-content-between">
                                                <button *ngIf="EstadoForm === 'E'" class="btn btn-info" (click)="CancelarEdicionSocio()"><span class="btnFomr"><i class="fas fa-user-slash"></i></span> Cancelar</button>
                                                <button *ngIf="EstadoForm === 'E'" class="btn btn-info" (click)="ActualizarSocio()"><span class="btnFomr"><i class="fas fa-user-check"></i></span> Actualizar Socio</button>
                                            </div>
                                            <div *ngIf="EstadoForm === 'N'" class=" d-flex justify-content-end">
                                                <button *ngIf="EstadoForm === 'N'" [disabled]="EstadoForm === 'P' || frmSocio.invalid" class="btn btn-info" (click)="CrearSocio(Partner, DireccionesFac, DireccionesEnt)"><span class="btnFomr"><i class="fas fa-user-plus"></i></span> Crear Socio</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lista Socios de negocios -->
        <div class="col-md-4 pt-4">
            <div class="card bxcard">
                <app-listasocios (socioSel)="listenBP($event)" class="col-sm-12"></app-listasocios>
            </div>
        </div>

        <app-toast aria-live="polite" aria-atomic="true"></app-toast>
    </div>
</div>