<div class="animated fadeIn fast">
    <div class="row">
        <!-- Seccion de formularios -->
        <div class="col-sm-8 pt-4">
            <div class="card bxcard">
                <div class="card-body">
                    <div class="card-header" *ngIf="document.ClgCode > 0">
                        <div class="card-icon">
                            <span style="font-size: 1.5em; color: white;"><i class="fas fa-clipboard-check"></i> Actividad: {{document.ClgCode}}</span>
                        </div>
                    </div>
                    <div class="container pt-3">
                        <div class="col-sm-12">
                            <form class="needs-validation" #frmAct="ngForm" novalidate="">
                                <div class="row d-flex justify-content-around">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="" class="mb-0">Oportunidad</label>
                                            <ng-select [virtualScroll]="true" placeholder="¿Documento?" notFoundText="No hay documentos" [(ngModel)]="document.OprId" name="OprId" (change)="onChangeDocumentOpp()">
                                                <ng-option *ngFor="let o of ListOppAct" [value]="o.OpprId">{{o.OpprId}} - {{o.Name}}</ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="" class="mb-0">Etapa</label>
                                            <ng-select [virtualScroll]="true" placeholder="¿Etapa?" notFoundText="No hay etapas" [(ngModel)]="document.OprLine" name="OprLine" [disabled]="!document.OprId">
                                                <ng-option *ngFor="let o of ListStageAct" [value]="o.Line">{{o.SlpName}} - {{o.Descript}} - {{o.ClosePrcnt}}</ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="Action">Actividad</label>
                                            <select class="form-control" #Action="ngModel" [(ngModel)]="document.Action" name="Action">
                                                <option *ngFor="let a of ListActividad" [ngValue]="a.Code">{{a.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="CntctType">Tipo</label>
                                            <select class="form-control" #CntctType="ngModel" [(ngModel)]="document.CntctType" name="CntctType">
                                                <option *ngFor="let t of ListTipo" [ngValue]="t.Code">{{t.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="CntctSbjct">Asunto</label>
                                            <select class="form-control" #CntctSbjct="ngModel" [(ngModel)]="document.CntctSbjct" name="CntctSbjct">
                                                <option *ngFor="let s of ListAsunto" [ngValue]="s.Code">{{s.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="CardCode">Codigo SN</label>
                                            <input id="CardCode" name="CardCode" class="form-control" required [(ngModel)]="document.CardCode" #CardCode="ngModel" placeholder="Codigo" type="text" [disabled]="true">
                                            <div *ngIf="CardCode.invalid && (CardCode.touched || CardCode.dirty)" class="invalid-feedback d-block">
                                                <div *ngIf="CardCode.errors.required">
                                                    Este campo es requerido
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="CardName">Nombre SN</label>
                                            <input [(ngModel)]="CardName" #cardName="ngModel" name="CardName" class="form-control" placeholder="Nombre" type="text" required [disabled]="true">
                                            <div *ngIf="cardName.invalid && (cardName.touched || cardName.dirty)" class="invalid-feedback d-block">
                                                <div *ngIf="cardName.errors.required">
                                                    Este campo es requerido
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="CntctCode">Contacto</label>
                                            <select class="form-control" #CntctCode="ngModel" [(ngModel)]="document.CntctCode" name="CntctCode" (change)="onChangeContact()">
                                                <option *ngFor="let c of ListPersonas" [ngValue]="c.CntctCode">{{c.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="Tel">Teléfono</label>
                                            <input class="form-control" #Tel="ngModel" [(ngModel)]="document.Tel" placeholder="Teléfono" type="text" name="Tel">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="atabs nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">
                                                    <span class="icontabs"><i class="fas fa-id-card-alt"></i></span> General
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="atabs nav-link" id="contenido-tab" data-toggle="tab" href="#contenido" role="tab" aria-controls="contenido" aria-selected="false">
                                                    <span class="icontabs"><i class="fas fa-hand-holding-usd"></i></span> Contenido
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                                                <br>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="Recontact">Fecha de Inicio</label>
                                                            <div class="input-group mb-3">
                                                                <input class="form-control" (ngModelChange)="onChangeDateBegin($event)" placeholder="Fecha Inicio" name="Recontact" [(ngModel)]="Recontact" ngbDatepicker #r="ngbDatepicker" required readonly>
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary calendar" (click)="r.toggle()" type="button"><span><i class="fas fa-calendar"></i></span></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="endDate">Fecha Fin</label>
                                                            <div class="input-group mb-3">
                                                                <input class="form-control" (ngModelChange)="onChangeDateEnd($event)" placeholder="Fecha Fin" name="endD" [(ngModel)]="endDate" ngbDatepicker #ed="ngbDatepicker" required readonly>
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary calendar" (click)="ed.toggle()" type="button"><span><i class="fas fa-calendar"></i></span></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="hinicio">Hora Inicio</label>
                                                            <ngb-timepicker (ngModelChange)="onChangeTimeInicio($event)" [(ngModel)]="BeginTime" name="HIni" [meridian]="true"></ngb-timepicker>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="hfin">Hora Fin</label>
                                                            <ngb-timepicker (ngModelChange)="onChangeTimeFin($event)" [(ngModel)]="ENDTime" name="endtime" [meridian]="true"></ngb-timepicker>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <!-- <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="Duration">Duración</label>
                                                            <input [(ngModel)]="Duration" #duration="ngModel" name="Duration" class="form-control" placeholder="Duración" [disabled]="true" type="text">
                                                        </div>
                                                    </div> -->
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="Priority">Prioridad</label>
                                                            <select class="form-control" #Priority="ngModel" [(ngModel)]="document.Priority" type="text" name="Priority">
                                                                <option *ngFor="let p of ListPrioridad" [ngValue]="p.Code">{{p.Name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="Location">Localidad</label>
                                                            <select class="form-control" #Location="ngModel" [(ngModel)]="document.Location" type="text" name="Location">
                                                                <option *ngFor="let lo of ListLocalidad" [ngValue]="lo.Code">{{lo.Name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">

                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="contenido" role="tabpanel" aria-labelledby="contenido-tab">
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <div class="form-group">
                                                            <label for="Notes"></label>
                                                            <textarea class="form-control" placeholder="Contenido" #Notes="ngModel" [(ngModel)]="document.Notes" type="text" name="Contenido"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row pt-4">
                                    <div class="col-sm-6 d-flex justify-content-end">
                                    </div>
                                    <div class="col-sm-6">
                                        <div *ngIf="document.ClgCode > 0" [ngClass]="{'d-flex' : true, 'justify-content-between' : (document.ClgCode && !submit), 'justify-content-end' : (document.ClgCode > 0 && submit)}">
                                            <button *ngIf="document.ClgCode > 0 && !submit" class="btn btn-info" (click)="onCancelActivity()"><span class="btnFomr"><i class="fas fa-calendar-times"></i></span> Cancelar</button>
                                            <button *ngIf="document.ClgCode > 0 && !submit" [disabled]="frmAct.invalid" class="btn btn-info" (click)="onUpdateActivity(frmAct)"><span class="btnFomr"><i class="fas fa-sync"></i></span> Actualizar Actividad</button>
                                            <button class="btn btn-info" *ngIf="submit"><span class="btnFomr"><i class="fas fa-spinner fa-pulse"></i></span></button>
                                        </div>
                                        <div *ngIf="document.ClgCode === -1" class=" d-flex justify-content-end">
                                            <button *ngIf="(document.ClgCode === -1 && !submit)" [disabled]="frmAct.invalid || !document.CardCode" class="btn btn-info" (click)="onCreateActivity(frmAct)"><span class="btnFomr"><i class="fas fa-calendar-check"></i></span> Crear Actividad</button>
                                            <button class="btn btn-info" *ngIf="submit"><span class="btnFomr"><i class="fas fa-spinner fa-pulse"></i></span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Seccion de listas -->
        <div class="col-sm-4 pt-4">
            <!--Lista de Actvidades-->
            <div class="card bxcard">
                <app-lista-activity (actSel)="onListenActivity($event)"></app-lista-activity>
            </div>
            <!-- Lista Socios de negocios -->
            <div class="card bxcard mt-5">
                <app-lista-crm-socios (socioSel)="onLisenPartner($event)"></app-lista-crm-socios>
            </div>
        </div>
    </div>
    <app-toast aria-live="polite" aria-atomic="true"></app-toast>
</div>