<div class="ml-5 animated fadeIn fast">
    <div class="row">
        <div class="col-md-8 pt-4">
            <div class="card bxcard">
                <div class="card-body">
                    <div class="card-header">
                        <div class="card-icon">
                            <span style="font-size: 1.5em; color: white;"><i class="fas fa-id-card"></i> Cotización</span>
                        </div>
                    </div>
                    <div class="container pt-3">
                        <div class="row">
                            <!-- Encabezado -->
                            <div class="col-sm-12">
                                <form #frmCot="ngForm">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="CardCode">Cliente</label>
                                                <input id="CardCode" name="CardCode" CardCode [(ngModel)]="document.CardCode" required type="text" class="form-control" placeholder="Cliente" [disabled]="true">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="CardName">Nombre</label>
                                                <div class="input-group">
                                                    <input id="CardName" name="CardName" CardName [(ngModel)]="document.CardName" required type="text" class="form-control" placeholder="Nombre">
                                                    <div class="input-group-append" *ngIf="cambiarSN">
                                                        <button class="btn btn-outline-secondary" *ngIf="!cargarSN" type="button" (click)="getSocios()"><span><i class="fas fa-users"></i></span></button>
                                                        <button class="btn btn-outline-secondary" *ngIf="cargarSN" type="button"><span><i class="fas fa-spinner fa-pulse"></i></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="TaxDate">Fecha de documento</label>
                                                <div class="input-group mb-3">
                                                    <input class="form-control" placeholder="Fecha" name="dpT" [(ngModel)]="TaxDate" ngbDatepicker #dT="ngbDatepicker" required readonly>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary calendar" (click)="dT.toggle()" type="button"><span><i class="fas fa-calendar"></i></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="Reference">Referencia</label>
                                                <input id="Reference" name="Reference" Reference [(ngModel)]="document.Reference" type="text" class="form-control" placeholder="Referencia" maxlength="11">
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label for="CntctCode">Persona de Contacto</label>
                                                <select class="form-control" id="CntctCode" [(ngModel)]="document.CntctCode" name="CntctCode">
                                                    <option *ngFor="let pr of prsContacto" [ngValue]="pr.CntctCode">{{pr.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="DocDate">Fecha de Entrega</label>
                                                <div class="input-group mb-3">
                                                    <input class="form-control" placeholder="Fecha" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" required readonly>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><span><i class="fas fa-calendar"></i></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="SlpCode">Vendedor</label>
                                                <select class="form-control" id="SlpCode" [(ngModel)]="slpCodeSel" name="slpCodeSel">
                                                    <option *ngFor="let slp of SalesEmp" [ngValue]="slp.SlpCode">{{slp.SlpName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label for="Comments">Comentarios</label>
                                                <textarea id="Comments" name="Comments" Comments [(ngModel)]="document.Comments" class="form-control" placeholder="comentarios"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label for="Currency">Moneda</label>
                                                <select class="form-control" id="Currency" [(ngModel)]="currencySel" name="currencySel">
                                                    <option *ngFor="let currency of currencies" [ngValue]="currency">{{currency}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <app-tabla-articulos [rowDataCot]="rowDataCot" (rowDataCotEmit)="refreshData($event)" class="col-sm-12"></app-tabla-articulos>
                                    </div>
                                    <div class="row pt-4">
                                        <div class="col-sm-6 d-flex justify-content-center">
                                            <!-- <button class="btn btn-info" (click)="SaveQuotation(frmCot)" *ngIf="!procesoSave" [disabled]="frmCot.invalid || rowDataCot.length === 0"><span class="btnFomr"><i class="fas fa-save"></i></span> Guardar</button>
                                            <button class="btn btn-info" *ngIf="procesoSave"><span class="btnFomr"><i class="fas fa-spinner fa-pulse"></i></span></button> -->
                                            <!-- <button (click)="parentFF()">limpiar</button> -->
                                        </div>
                                        <div class="col-sm-6 d-flex justify-content-end">
                                            <button class="btn btn-info" (click)="CreateQuotation(frmCot)" *ngIf="!proceso" [disabled]="frmCot.invalid || rowDataCot.length === 0"><span class="btnFomr"><i class="fas fa-paper-plane"></i></span> Crear</button>
                                            <button class="btn btn-info" *ngIf="proceso"><span class="btnFomr"><i class="fas fa-spinner fa-pulse"></i></span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sección artículos -->
        <div class="col-md-4 pt-4">
            <div class="card bxcard">
                <app-lista-articulos [impChildSN]="ImpSN" class="col-sm-12"></app-lista-articulos>
            </div>
        </div>
    </div>
</div>